.flip-card {
  @apply relative w-64 h-64;
  perspective: 1500px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  @apply absolute inset-0 w-full h-full bg-white shadow-md flex items-center justify-center;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
